* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #555556;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.testimonial {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}

cite {
    font-style: italic;
    color: #555556;
}

a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
